<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/base::layout(~{::section})}">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <link rel="stylesheet" th:href="@{/css/table.css}">

    <div class="container content1 fs-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="mb-2">
                    <a href="/admin/thuong-hieu" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Quay lại</a>
                </div>
                <div class="card card-sh">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Chỉnh sửa thương hiệu</h4>
                            <th:block th:if="${session.succMsg}">
                                <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                            </th:block>

                            <th:block th:if="${session.errorMsg}">
                                <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                            </th:block>
                        </div>
                        <form action="/admin/cap-nhat-thuong-hieu" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${brand.id}">
                            <div class="mb-3">
                                <label for="name">Nhập tên thương hiệu</label>
                                <input type="text" id="name" class="form-control" name="name" th:value="${brand.name}">
                            </div>

                            <div class="mb-3">
                                <label for="active">Trạng thái</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" id="active" value="true" th:checked="${brand.status==true}">
                                    <label class="form-check-label" for="active">
                                        Hiện
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" id="inactive" value="false" th:checked="${brand.status==false}">
                                    <label class="form-check-label" for="inactive">
                                        Ẩn
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary col-md-12 mt-2">Cập nhật</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>