<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here"/>

  <title>Title</title>
</head>
<body>
<section>
  <div class="container mt-5 p-5">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <i class="fa-solid fa-circle-check fa-5x text-success"></i>
        <p class="fs-3">Đã đăng ký tài khoản thành công!</p>
        <div class="text-center">
          <a href="/" class="btn btn-primary">Home</a>
          <a href="/dang-nhap" class="btn btn-primary">Đăng nhập</a>
        </div>
      </div>
    </div>

  </div>
</section>

</body>
</html>