<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>

    <link rel="stylesheet" th:href="@{/css/table.css}">

    <div class="container-fluid mt-5">
        <div class="text-center">
            <h4>Đơn hàng của tôi</h4>
            <th:block th:if="${session.succMsg}">
                <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>
        </div>
        <div class="my-5">
            <div th:if="${orders.size() == 0}" class="text-center">Không có đơn hàng nào ở đây!</div>
            <div th:if="${orders.size() > 0}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="danhsach">
                    <tr th:each="order:${orders}">
                        <td data-label="Mã đơn hàng" scope="row" ><b>[[${order.orderId}]]</b></td>
                        <td data-label="Ngày tạo" th:text="${order.getDateFormatted()}"></td>
                        <td th:text="${order.getOrderName() + 'Tổng: ' + order.getTotalPriceFormatted()}" style="white-space: pre-wrap; word-wrap: break-word;"></td>
                        <td data-label="Trạng thái">
                            <span th:text="@{'Kiểu thanh toán: ' + ${order.paymentType == 'ONLINE' ? 'Thanh toán bằng thẻ ngân hàng' : 'COD'}}"></span>
                            <br>
                            <span class="orderStatus" th:data-order-id="${order.id}">[[${order.getStatus()}]]</span>
                        </td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-primary" th:href="@{'/user/xem-don-hang/id=' + ${order.getOrderId()}}">Xem chi tiết</a>
                            <th:block th:if="${order.status!='Đã hủy!' && order.status!='Đã vận chuyển thành công!'}">
                                <button class="btn btn-sm btn-danger update-status-btn"
                                        th:data-order-id="${order.id}">Hủy
                                </button>
                            </th:block>
                            <a class="btn btn-sm btn-danger cancelBtn disabled" th:data-order-id="${order.id}" hidden="hidden">Hủy</a>
                            <th:block th:unless="${order.status!='Đã hủy!' && order.status!='Đã vận chuyển thành công!'}">
                                <a class="btn btn-sm btn-danger disabled">Hủy</a>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            $('.update-status-btn').click(function() {
                var btn = $(this);
                var orderId = btn.data('order-id');
                var statusSpan = $(`span.orderStatus[data-order-id="${orderId}"]`);
                var cancelBtn = $(`a.cancelBtn[data-order-id="${orderId}"]`);
                $.ajax({
                    url: '/api/update-order-status',
                    method: 'GET',
                    data: {
                        id: orderId,
                        st: 6
                    },
                    success: function(response) {
                        if (response && response.statusName) {
                            btn.hide();
                            cancelBtn.prop('hidden', false);
                            statusSpan.fadeOut(200, function() {
                                $(this).text(response.statusName).fadeIn(200);
                            });
                        }

                    },
                    error: function(xhr, status, error) {
                        console.error('Error loading revenue data:', error);
                        $("#error-message").show().text('Không thể tải dữ liệu. Vui lòng thử lại sau.');
                    }
                });
            });
        })

    </script>
</section>
</body>
</html>