<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/styles.min.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{'/img/logos/' + ${webInfo.logo}}">
    <title>Admin</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sidebarmenu.js}"></script>
<script th:src="@{/js/app.min.js}"></script>
<script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.js}"></script>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="/" class="text-nowrap logo-img text-center d-block pb-3 w-100">
                                <img th:src="@{'/img/logos/' + ${webInfo.logo}}" height="100" alt="">
                            </a>
                            <div class="text-center">
                                <h4>Quên mật khẩu</h4>
                                <th:block th:if="${session.succMsg}">
                                    <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                                </th:block>

                                <th:block th:if="${session.errorMsg}">
                                    <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                                </th:block>
                            </div>
                            <form action="/check-email" method="post">
                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" name="email" type="email" id="email" placeholder="Nhập email của bạn">
                                </div>
                                <button type="submit" class="btn bg-primary text-white col-md-12 form-control">Gửi</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>