<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here"/>

  <title>Title</title>
</head>
<body>
<section>
  <h1>Login page</h1>
  <div class="container mt-5 p-5">
    <div class="row">
      <div class="col-md-6 p-5 text-center offset-md-3">
        <h3>[[${msg}]]</h3>
      </div>
    </div>
  </div>
</section>

</body>
</html>