<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <style>
            .card-img-top {
                width: 100%;
                height: 0;
                padding-top: 100%;
                object-fit: cover;
                position: relative;
            }

            .card-img-top img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            /*.text-ellipsis {*/
            /*    white-space: nowrap;*/
            /*    overflow: hidden;*/
            /*    text-overflow: ellipsis;*/
            /*}*/

            .text-ellipsis {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .card-sh {
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) !important;
            }
        </style>
        <div class="container-fluid p-5">
            <div class="row">
                <div class="col-xxl-4 offset-xxl-4
                    col-xl-6 offset-xl-3
                    col-lg-8 offset-lg-2
                    col-md-8 offset-md-2">
                    <form action="search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="ch" id="search-input" th:value="${searchCh}" placeholder="Tìm kiếm sản phẩm">
                            <button class="btn btn-light text-dark col-md-2" ><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2 col-12">
            <div class="card card-sh">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center p-2">
                            <select class="form-control" id="categorySelect">
                                <option value="">Danh mục</option>
                                <option th:each="c : ${categories}"
                                        th:value="${c.name}"
                                        th:selected="${danhMuc == c.name}">[[${c.name}]]</option>
                            </select>
                        </div>
                        <div class="col-6 d-flex align-items-center p-2">
                            <select class="form-control" id="brandSelect">
                                <option value="">Thương hiệu</option>
                                <option th:each="b : ${brands}"
                                        th:value="${b.name}"
                                        th:selected="${thuongHieu == b.name}">[[${b.name}]]</option>
                            </select>
                        </div>
                        <div class="col-6 d-flex align-items-center p-2">
                            <select class="form-control" id="sortSelect">
                                <option th:selected="${sapXep == ''}" value="">Sắp xếp</option>
                                <option th:selected="${sapXep == 'Từ A->Z'}" value="Từ A->Z">Từ A->Z</option>
                                <option th:selected="${sapXep == 'Từ Z->A'}" value="Từ Z->A">Từ Z->A</option>
                                <option th:selected="${sapXep == 'Sản phẩm mới'}" value="Sản phẩm mới">Sản phẩm mới</option>
                                <option th:selected="${sapXep == 'Sản phẩm cũ'}" value="Sản phẩm cũ">Sản phẩm cũ</option>
                                <option th:selected="${sapXep == 'Sản phẩm bán chạy'}" value="Sản phẩm bán chạy">Sản phẩm bán chạy</option>
                            </select>
                        </div>
                        <div class="col-6 d-flex align-items-center p-2">
                            <select class="form-control" id="ratingSelect">
                                <option th:selected="${ratingChoice == ''}" value="">Đánh giá</option>
                                <option th:selected="${ratingChoice == 'Từ 1 sao'}" value="Từ 1 sao">Từ 1 sao</option>
                                <option th:selected="${ratingChoice == 'Từ 2 sao'}" value="Từ 2 sao">Từ 2 sao</option>
                                <option th:selected="${ratingChoice == 'Từ 3 sao'}" value="Từ 3 sao">Từ 3 sao</option>
                                <option th:selected="${ratingChoice == 'Từ 4 sao'}" value="Từ 4 sao">Từ 4 sao</option>
                                <option th:selected="${ratingChoice == 'Từ 5 sao'}" value="Từ 5 sao">Từ 5 sao</option>
                            </select>
                        </div>
                        <div class="col-6 d-flex align-items-center p-2">
                            <input type="number" min="0" class="form-control" id="minPrice" th:value="${giaThapNhat}" placeholder="Giá thấp nhất">
                        </div>
                        <div class="col-6 d-flex align-items-center p-2">
                            <input type="number" min="0" class="form-control" id="maxPrice" th:value="${giaCaoNhat}" placeholder="Giá cao nhất">
                        </div>
                        <div class="col-6 d-flex align-items-center p-2">
                            <button onclick="updateLocation()" class="btn btn-success text-light form-control">Lọc</button>
                        </div>
                        <div class="col-6 d-flex align-items-center p-2">
                            <a href="san-pham" class="btn btn-danger text-light form-control">Xóa lọc</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-sh">
                <div class="card-body p-4 py-3">
                    <div class="row">
                        <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-3 col-6 p-2" th:each="product:${products}">
                            <div class="card card-sh overflow-hidden rounded-2 m-0">
                                <a th:href="@{'/san-pham/san-pham-id=' + ${product.id}}">
                                    <div class="position-relative card-img-top">
                                        <img th:src="@{'/img/product_img/' + ${product.getArrayAnh()[0]}}" alt="...">
                                    </div>
                                    <div class="card-body p-2" style="height: 97px">
                                        <h6 class="fw-semibold fs-4 text-ellipsis mb-1">[[${product.ten}]]</h6>
                                        <div th:if="${product.sale > 0}">
                                            <h6 class=" fs-3 mb-0">
                                                <b>[[${product.getGiaSaleFormatted()}]]</b>
                                                <span class="fs-2 p-1" style="color: orangered; background: #FFEDE0"><b>[[${product.sale}]]%</b></span>
                                            </h6>
                                            <span class="fw-normal text-muted fs-2"><del>[[${product.getGiaFormatted()}]]</del></span>
                                        </div>
                                        <div th:unless="${product.sale > 0}">
                                            <h6 class="fs-3 mb-0">
                                                <b>[[${product.getGiaSaleFormatted()}]]</b>
                                            </h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mb-3" th:if="${search == false && products.size() > 0}">
            <ul class="pagination">
                <li class="page-item" th:unless="${isFirst}">
                    <a class="page-link"
                       th:if="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}"
                       th:href="@{'/san-pham?trang=' + ${trang}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a class="page-link"
                       th:unless="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}"
                       th:href="@{'/san-pham?danh-muc=' + ${danhMuc} +
                       '&' + 'thuong-hieu=' + ${thuongHieu} +
                       '&danh-gia=' + ${ratingChoice} +
                       '&gia-thap-nhat=' + ${giaThapNhat != null ? giaThapNhat : ''} +
                       '&gia-cao-nhat=' + ${giaCaoNhat != null ? giaCaoNhat : ''} +
                       '&sap-xep=' + ${sapXep} +
                       '&trang=' + ${trang}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i:${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${trang + 1 == i ? 'active':''}">
                    <a class="page-link"
                       th:unless="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}"
                       th:href="@{'/san-pham?danh-muc=' + ${danhMuc} +
                       '&' + 'thuong-hieu=' + ${thuongHieu} +
                       '&danh-gia=' + ${ratingChoice} +
                       '&gia-thap-nhat=' + ${giaThapNhat != null ? giaThapNhat : ''} +
                       '&gia-cao-nhat=' + ${giaCaoNhat != null ? giaCaoNhat : ''} +
                       '&sap-xep=' + ${sapXep} +
                       '&' + 'trang=' + ${i}}">[[${i}]]</a>
                    <a class="page-link" th:if="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}" th:href="@{'/san-pham?trang=' + ${i}}">[[${i}]]</a>
                </li>
                <li class="page-item" th:unless="${isLast}">
                    <a class="page-link" aria-label="Next" th:if="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}" th:href="@{'/san-pham?trang=' + ${trang + 2}}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <a class="page-link" aria-label="Next"
                       th:unless="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}"
                       th:href="@{'/san-pham?danh-muc=' + ${danhMuc} +
                       '&' + 'thuong-hieu=' + ${thuongHieu} +
                       '&danh-gia=' + ${ratingChoice} +
                       '&gia-thap-nhat=' + ${giaThapNhat != null ? giaThapNhat : ''} +
                       '&gia-cao-nhat=' + ${giaCaoNhat != null ? giaCaoNhat : ''} +
                       '&sap-xep=' + ${sapXep} +
                       '&trang=' + ${trang + 2}}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mb-3" th:if="${search == true && searchResult == true && products.size() > 0}">
            <ul class="pagination">
                <li class="page-item" th:unless="${isFirst}">
                    <a class="page-link" th:if="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}"
                       th:href="@{'/search?ch=' + ${searchCh} + '&trang=' + ${trang}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a class="page-link" th:unless="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}"
                       th:href="@{'/search?ch=' + ${searchCh} +
                       '&danh-muc=' + ${danhMuc} +
                       '&' + 'thuong-hieu=' + ${thuongHieu} +
                       '&danh-gia=' + ${ratingChoice} +
                       '&gia-thap-nhat=' + ${giaThapNhat != null ? giaThapNhat : ''} +
                       '&gia-cao-nhat=' + ${giaCaoNhat != null ? giaCaoNhat : ''} +
                       '&sap-xep=' + ${sapXep} +
                       '&trang=' + ${trang}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i:${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${trang + 1 == i ? 'active':''}">
                    <a class="page-link" th:if="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}"
                       th:href="@{'/search?ch=' + ${searchCh} + '&' + 'trang=' + ${i}}">[[${i}]]</a>
                    <a class="page-link" th:unless="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}"
                       th:href="@{'/search?ch=' + ${searchCh} +
                       '&danh-muc=' + ${danhMuc} +
                       '&' + 'thuong-hieu=' + ${thuongHieu} +
                       '&danh-gia=' + ${ratingChoice} +
                       '&gia-thap-nhat=' + ${giaThapNhat != null ? giaThapNhat : ''} +
                       '&gia-cao-nhat=' + ${giaCaoNhat != null ? giaCaoNhat : ''} +
                       '&sap-xep=' + ${sapXep}  +
                       '&trang=' + ${i}}">[[${i}]]</a>
                </li>
                <li class="page-item" th:unless="${isLast}">
                    <a class="page-link" th:if="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}" aria-label="Next"
                       th:href="@{'/search?ch=' + ${searchCh} + '&trang=' + ${trang + 2}}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <a class="page-link" th:unless="${danhMuc == '' && thuongHieu == '' && sapXep == '' && ratingChoice == '' && giaThapNhat == null && giaCaoNhat == null}" aria-label="Next"
                       th:href="@{'/search?ch=' + ${searchCh} +
                       '&danh-muc=' + ${danhMuc} +
                       '&' + 'thuong-hieu=' + ${thuongHieu} +
                       '&danh-gia=' + ${ratingChoice} +
                       '&gia-thap-nhat=' + ${giaThapNhat != null ? giaThapNhat : ''} +
                       '&gia-cao-nhat=' + ${giaCaoNhat != null ? giaCaoNhat : ''} +
                       '&sap-xep=' + ${sapXep} +
                       '&trang=' + ${trang + 2}}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
            function updateLocation() {
                var category = document.getElementById('categorySelect').value;
                var brand = document.getElementById('brandSelect').value;
                var sort = document.getElementById('sortSelect').value;
                var search = document.getElementById('search-input').value;
                var ratingChoice = document.getElementById('ratingSelect').value;
                var minPrice = document.getElementById('minPrice').value;
                var maxPrice = document.getElementById('maxPrice').value;

                var newUrl = '';

                if (search) {
                    if (category === '' && brand === '' && sort === '' && minPrice === '' && maxPrice === '' && ratingChoice === '') {
                        newUrl = '/search?ch=' + search;
                    } else {
                        newUrl = '/search?ch=' + search + '&' + 'danh-muc=' + category + '&' + 'thuong-hieu=' + brand + '&' + 'danh-gia=' + ratingChoice + '&' + 'gia-thap-nhat=' + minPrice + '&' + 'gia-cao-nhat=' + maxPrice + '&' + 'sap-xep=' + sort;
                    }
                } else {
                    if (category === '' && brand === '' && sort === '' && minPrice === '' && maxPrice === '' && ratingChoice === '') {
                        newUrl = '/san-pham';
                    } else {
                        newUrl += '/san-pham?danh-muc=' + category + '&' + 'thuong-hieu=' + brand + '&' + 'danh-gia=' + ratingChoice + '&' + 'gia-thap-nhat=' + minPrice + '&' + 'gia-cao-nhat=' + maxPrice + '&' + 'sap-xep=' + sort;
                    }
                }

                window.location.href = newUrl;
            }
        </script>

    </section>
</body>
</html>